[submodule "thirdparty/liblsl"]
	path = thirdparty/liblsl
	url = https://github.com/sccn/liblsl
[submodule "thirdparty/argparse"]
	path = thirdparty/argparse
	url = https://github.com/p-ranav/argparse
[submodule "thirdparty/CSerialPort"]
	path = thirdparty/CSerialPort
	url = https://github.com/itas109/CSerialPort
